:root {
    --fullsize: 100%;
    --images: '/src/assets/images/';
    /* color */
    --primary-color: #4DB87F;
    --title-text-color: #222226;
    --secondary-text-color: #4A4A4A;
    --lock-bg-color: rgba(0, 0, 0, .4);
    --bg-color: #F5F5F5;
    --border: .5px solid #CECECE;
    --border-color: #CECECE;
    --gray: #AAA;
    --info: #4990E2;
    --bg-info: #E6F2FF;
    --danger: #E65045;
    --sub-danger: #FF6D62;
    --bg-danger: #4990E2;
    --success: #89B929;
    --bg-success: #F7FFE6;
    --bg-sub-success: #31FF91;
    --warning: #F6A623;
    --bg-warning: #FFF3DF;
    --white: #fff;
    --disabled: var(--border-color);
    --border-radius: .3em;

    --font-en: Arial;
    /* font size */
    --font-largest: 200%;
    --font-larger: 150%;
    --font-large: 120%;
    --font-base: 100%;
    --font-small: 90%;
    --font-smaller: 80%;
    --font-smallest: 75%;

    /* padding */
    --padding-base-vertical: .8em;
    --padding-base-horizontal: 1em;
    --padding-small-vertical: .5em;
    --padding-small-horizontal: .8em);
    --padding-large-vertical: 1em;
    --padding-large-horizontal: 1.2em;
}
